*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
app/build.gradle
app/build.gradle
*.xml
*.svg
*.gradle
*.xml
*.java
*.java
*.java
*.java
app/src/main/java/com/example/saman/myapplication/PositionColorClass.java
*.xml
app/src/main/res/layout/category_list_activity.xml
